.logo-container{
    z-index: 0;
    width: 100px;
    height: 100px;
    position: right;
    top: 0;
    right: 15%;
    left: auto;
    margin: auto;
}
.solid-logo{
    height: 380px;
    margin-left: 100px;
    margin-top: 90px;
}